@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-sm-12">


        <div class="jumbotron big-banner">
            <div class="mainTextColor">

                <h1>Learn, Shared, Build!</h1>
                <h3>Each month, People come to OLS to learn, share their knowledge, and build their careers.</h3>
                <p class="lead">Join the OLS.</p>

            </div>


        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header bg-light" >Started in 2020</div>
            <div class="card-body">
                Online Learning and Discussion Synopsis is the latest, trusted online community for developers to learn, share their knowledge, and build their careers.Many professional and aspiring programmers visit OLS to participate quiz program and online discussion about many problems they face and develop new skills.
            </div>
        </div>
    </div>
   
</div>

<div class="row mb-4">
    <div class="'col-sm-8">
        <div class="card">
            <div class="card-header bg-white">Online Learning and Disussion Synopsis</div>
            <img class="card-img-top" src="~/Images/aboutOLS.jpg" alt="Offices">
            <div class="card-body"  style="background-color:#FFB6C1">
                © 2020 OLS. All Rights Reserved.
            </div>
        </div>
    </div>
</div>

<script>
    $("a[href='/home/about']").attr("id", "active");
</script>


