@{
    ViewBag.Title = "Team";
}



<body class="bodyTeam"style="background-image: url('../Images/team.jpg');background-repeat: no-repeat;background-size: 2200px 1080px; ">

<div class="wrapper">
  <h1 class="header1">Our Team</h1>
  <div class="team">
      <div class="team_member">
          <div class="team_img">
              <img src="~/TeamImages/toshib.png" width:"20px" style="border-radius:50px" />
          </div>
          <h3>Amin Ahmed<br>Toshib</h3>
          <h3>170104061</h3>
          <p class="role">UI Designer</p>
          <p>Studies in the department of Computer Science and Engineering at Ahsanullah University of Science and Technology.</p>
      </div>
      <div class="team_member">
          <div class="team_img">
              <img src="~/TeamImages/jishan.png" width:"20px" style="border-radius:50px" />
          </div>
          <h3>Hasnath Jami Chowdhury</h3>
          <h3>170104067</h3>
          <p class="role">Backend Developer</p>
          <p>Studies in the department of Computer Science and Engineering at Ahsanullah University of Science and Technology.</p>
      </div>
      <div class="team_member">
          <div class="team_img">
              <img src="~/TeamImages/anas.png" width:"20px" style="border-radius:50px" />
          </div>
          <h3>Anas Mohammed Anwar</h3>
          <h3>170104079</h3>
          <p class="role">Backend Developer</p>
          <p>Studies in the department of Computer Science and Engineering at Ahsanullah University of Science and Technology.</p>
      </div>
  </div>
</div>	

</body>
















<script>
    $("a[href='/home/team']").attr("id", "active");
</script>


