
@{
    ViewBag.Title = "Submit";
}

<h2 class="text-center text-info">Basic HTML Quiz 01</h2>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form name="quiz" id="quiz">
            <div>
                <label>1.What does HTML stand for?</label>
                <div class="radio"><label><input type="radio" name="question1" value="Hyperlinks and Text 	Markup Language">A.Hyperlinks Text Markup Language</label></div>
                <div class="radio"><label><input type="radio" name="question1" value="Hyper Text Makeup Language">B.Hyper Text Makeup Language</label></div>
                <div class="radio"><label><input type="radio" name="question1" value="Home Tool Markup Language">C.Home Tool Markup Language</label></div>
                <div class="radio"><label><input type="radio" name="question1" value="Hyper Text Markup Language">D.Hyper Text Markup Language</label></div>
            </div>

            <div>
                <label>2.Who is making the Web standards?</label>
                <div class="radio"><label><input type="radio" name="question2" value="Microsoft">A.Microsoft</label></div>
                <div class="radio"><label><input type="radio" name="question2" value="Mozilla">B.Mozilla</label></div>
                <div class="radio"><label><input type="radio" name="question2" value="The World Wide Web Consortium">C.The World Wide Web Consortium</label></div>
                <div class="radio"><label><input type="radio" name="question2" value="Google">D.Google</label></div>
            </div>

            <div>
                <label>3.What does CSS stand for?</label>
                <div class="radio"><label><input type="radio" name="question3" value="Creative Style Sheets">A.Creative Style Sheets</label></div>
                <div class="radio"><label><input type="radio" name="question3" value="Colorful Style Sheets">B.Colorful Style Sheets</label></div>
                <div class="radio"><label><input type="radio" name="question3" value="Cascading Style Sheets">C.Cascading Style Sheets</label></div>
                <div class="radio"><label><input type="radio" name="question3" value="Computer Style Sheets">D.Computer Style Sheets</label></div>
            </div>

            <div>
                <label>4.Which one is NOT a legal variable name?</label>
                <div class="radio"><label><input type="radio" name="question4" value="my_var">A.my_var</label></div>
                <div class="radio"><label><input type="radio" name="question4" value="my-var">B.my-var</label></div>
                <div class="radio"><label><input type="radio" name="question4" value="_myvar">C._myvar</label></div>
                <div class="radio"><label><input type="radio" name="question4" value="Myvar">D.Myvar</label></div>
            </div>

            <input type="button" name="" value="Submit" onclick="check()">
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

